@model IEnumerable<CinemaHitss.Usuario>

@{
    ViewBag.Title = "Filtros";
}

<div class="jumbotron">
    <h1>Filtros</h1>
</div>
<table class="table">
    <tr></tr>

</table>
<br />
<th>


</th>
<form>
    
        <p>
            Ingrese la fecha
            <input id="mes" type="date" min="2019-05-02" />
        </p>
        <br />
  
    
        <p>
            Ingrese la hora
            <input id="hora" type="time" />
        </p>
        <br />

    <input type="submit" value="Buscar" class="btn btn-default" />
</form>

